<link rel="stylesheet" href="/css/home.css">
<div id="main-div">
    <marquee behavior="scroll" direction="left" scrollamount="20">
        <h1>WELCOME TO OUR <span>WEBSITE</span></h1>
    </marquee>
</div>
<div id="posts-div">
<div id="feed-post">
    <h4>Add Post</h4>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" id="content" cols="40" rows="4" placeholder="Type here....." required></textarea>
        <input type="submit" value="Post" id="button">
    </form>
</div>
<div id="posts-container">
    <h1>Posts</h1>
    <ul>
    <% for(post of posts){ %>
        <li>
            <%=post.content%>
            <small>&nbsp;&nbsp;[<%=post.user.Name%>]</small>
        </li>
    <%}%>
    </ul>
</div>
</div>