<link rel="stylesheet" href="/css/home.css">
<div id="main-div">
    <marquee behavior="scroll" direction="left" scrollamount="20">
        <h1>WELCOME TO OUR <span>WEBSITE</span></h1>
    </marquee>
</div>
<section id="feed-post">
    <h4>Add Post</h4>
    <form action="/users/create-post" id="new-post-form" method="POST">
        <textarea name="content" id="content" cols="40" rows="4" placeholder="Type here....."></textarea>
        <input type="submit" value="Post" id="button">
    </form>
</section>