<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="main-div">
    <marquee behavior="scroll" direction="left" scrollamount="20">
        <h1>WELCOME TO OUR <span>WEBSITE</span></h1>
    </marquee>
</div>
<div id="posts-div">
    <div id="friends">
        <h4>Friends</h4>
        <% for(u of all_users) { %>
            <p>
                <i class="fa fa-user" style="color: white;"></i><a href="/users/profile/<%=u.id%>"><%= u.Name%></a>
            </p>
        <%}%>
    </div>
    <% if(locals.user) { %>
        <div id="feed-post">
            <h4>Add Post</h4>
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" id="content" cols="40" rows="4" placeholder="Type here....."
                    required></textarea>
                <input type="submit" value="Post" id="button">
            </form>
        </div>
        <%}%>
            <!-- This form should be visible only if the user is signed in aur authenticated user and must be present in locals
     Only this single check is not sufficient because anyone can make form by inspecting and make posts
    So we need one check at route level-->
            <div id="posts-container">
                <h1>Posts</h1>
                <ul>
                    <% for(post of posts){ %>
                        <%- include('_post.ejs') %>
                            <%}%>
                </ul>
            </div>
            
</div>