<link rel="stylesheet" href="/css/userProfile.css">

<h1>This is codeial / User Profile :  </h1>
<h2>Name : <%= user.Name %></h2>
<h2>Email : <%= user.Email %></h2>
<h2>Password : <%= user.Password %></h2>

   