header {
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: pink;

    div {
        width: 30vw;

        img {
            margin-left: 25px;
            height: 6vw;
            width: 6vw;
            border-radius: 50%;
        }

        @media screen and (max-width: 900px) {
            img {
                height: 9vw;
                width: 9vw;
            }
        }
    }

    ul {
        width: 35vw;
        height: 15vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        li {
            list-style: none;
            margin-right: 5px;

            a {
                text-decoration: none;
                font-size: 2vw;
                color: white;
            }


            @media screen and (max-width: 1200px) {
                a {
                    font-size: 3.2vw;
                }
            }

            @media screen and (max-width: 600px) {
                a {
                    font-size: 4.2vw;
                }
            }

            @media screen and (max-width: 400px) {
                a {
                    font-size: 4.8vw;
                }
            }
        }
    }
    @media screen and (max-width: 1200px) {
        ul {
            width : 45vw !important;
        }
    }
    @media screen and (max-width: 800px) {
        ul {
            width : 55vw !important;
        }
    }
    @media screen and (max-width: 600px) {
        ul {
            width : 90vw !important;
        }
    }


}