header {
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: pink;

    div {
        width: 60vw;

        img {
            margin-left: 25px;
            height: 6vw;
            width: 6vw;
            border-radius: 50%;
        }
    }

    ul {
        width: 30vw;
        height: 15vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        li {
            list-style: none;

            a {
                text-decoration: none;
                font-size: 1.5rem;
            }
        }
    }

}