footer {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a4e6fc;
  box-shadow: -10px 0px 4px 4px lightblue; }
  footer ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 35vw; }
    footer ul li {
      list-style: none; }
      footer ul li a {
        text-decoration: none; }
        footer ul li a img {
          height: 5vh !important;
          width: 5vh !important;
          border-radius: 20px; }
