header {
  width: 100vw;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: pink; }
  header div {
    width: 30vw; }
    header div img {
      margin-left: 25px;
      height: 6vw;
      width: 6vw;
      border-radius: 50%; }
    @media screen and (max-width: 900px) {
      header div img {
        height: 9vw;
        width: 9vw; } }
  header ul {
    width: 35vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; }
    header ul li {
      list-style: none;
      margin-right: 5px; }
      header ul li a {
        text-decoration: none;
        font-size: 2vw;
        color: white; }
      @media screen and (max-width: 1200px) {
        header ul li a {
          font-size: 3.2vw; } }
      @media screen and (max-width: 600px) {
        header ul li a {
          font-size: 4.2vw; } }
      @media screen and (max-width: 400px) {
        header ul li a {
          font-size: 4.8vw; } }
  @media screen and (max-width: 1200px) {
    header ul {
      width: 45vw !important; } }
  @media screen and (max-width: 800px) {
    header ul {
      width: 55vw !important; } }
  @media screen and (max-width: 600px) {
    header ul {
      width: 90vw !important; } }
