#sign-in-div {
  height: auto;
  width: 60vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2.5px solid #cecccc;
  padding: 20px;
  border-radius: 15px;
  background-color: whitesmoke; }
  #sign-in-div h1 {
    margin-top: -4px; }
  #sign-in-div #form {
    display: flex;
    align-items: flex-start;
    flex-direction: column; }
    #sign-in-div #form label {
      font-size: 3vh;
      font-weight: 500;
      margin-bottom: 10px; }
    #sign-in-div #form input {
      height: 5vh;
      font-size: 2vh;
      width: 50vh;
      border: 1px solid  lightgray;
      border-radius: 5px;
      background-color: none;
      background: none;
      outline: none;
      margin-bottom: 10px;
      padding-left: 4px; }
    #sign-in-div #form #button {
      border-radius: 20px;
      height: 5vh;
      width: 18vh;
      font-size: 2.8vh;
      background-color: #6c3e77;
      color: white;
      margin-top: 5px;
      margin-bottom: -4px; }
